.Login{
    position: fixed;
    display: flex;
    width: 20%;
    height: 45%;
    background-color: rgb(84, 174, 190);
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.forms{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 50%;
}

.Login label{
    display: flex;
    margin-bottom: 5px;
}

.Login input{
    width: 100%;
    height: 10%;
    padding: 2px;
    margin-bottom: 10px;
}

.Login button{
    align-self: center;
    width: 50%;
    height: 20%;
}

.Login .Base .RealizarCadastro{
    display: flex;
    width: 35%;
    height: 30%;
    justify-self: flex-start;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.Login .Base{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 30%;
    width: 100%;
}

.Login .Base .MsgErro{
    color: red;
}