.Principal{
    display: flex;
    width: 20%;
    height: 65%;
    background-color: rgb(84, 174, 190);
    align-items: center;
    justify-content: center;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    flex-direction: column;
}

.blurred{
    filter: blur(10px);
    pointer-events: none;
}

.NomeMenu{
    display: flex;
    background-color: rgb(139, 206, 218);
    height: 15%;
    width: 100%;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    align-items: center;
    justify-content: center;
}

.Elementos{
    display: flex;
    align-items: center;
    height: 70%;
}

.Rodape{
    display: flex;
    background-color: rgb(139, 206, 218);
    height: 15%;
    width: 100%;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.MenuLateralSwipper2{
    display: flex;
    justify-self: center;
    align-self: center;
}