.MenuConfig{    
    position: fixed;
    display: flex;
    width: 30%;
    height: 55%;
    background-color: rgb(84, 174, 190);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}