.Drag {
    height: 350px;
    width: 200px;

}

.DndMenu {
    height: 100px !important;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}

.ItensMenu{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    
    margin-top: 20px;
    
}

.imagem {
    height: 80px;
    width: 80px;
    object-fit: contain;
}