.Drag {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 80%;
    width: 100%;

}

.DndMenu {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ItensMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    
}
