.menuConfig{    
    position: fixed;
    display: flex;
    width: 25%;
    height: 55%;
    background-color: rgb(84, 174, 190);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.menuConfig button{
    display: flex;
    height: 10%;
    width: 40%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid black;
    transition: all 0.2s ease;
    position: relative;
}

.menuConfig button:hover{
    background: #829aa3;
}

.menuConfig button:active{
    background: #829aa3;
    top: 5px;
}
