.Ovo_Principal{
    display: flex;
    height: 80%;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.Ovo_normal{
    display: flex;
    width: 50%;
    height: auto;
    image-rendering: pixelated;
    position: relative;
    transition: all 0.2s ease;
}

.Ovo_normal:active{
    top: 5px;
    right: 2px;
    left: 1px;
}