.Registro{
    position: fixed;
    display: flex;
    width: 30%;
    height: 55%;
    background-color: rgb(84, 174, 190);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.forms{
    background-color: antiquewhite;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: start;
    width: 70%;
    height: 70%;
}

label{
    display: flex;
    margin-bottom: 5px;
    font-size: large;
}

input{
    width: 100%;
    height: auto;
    padding: 2px;
    margin-bottom: 10px;
}

button{
    height: 10%;
    justify-self: end;
    font-size: large;
}

.botaoLogin{
    height: 25%;
    display: flex;
    align-self: center;
    justify-self: flex-start;
}

.Base{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 30%;
}

.MsgErro{
    color: red;
}