.Registro{
    position: fixed;
    display: flex;
    width: 20%;
    height: 45%;
    background-color: rgb(84, 174, 190);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.formsRegistro{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 60%;
}

.Registro .formsRegistro label{
    display: flex;
    margin-bottom: 5px;
}

.Registro  .formsRegistro input{
    width: 100%;
    height: auto;
    padding: 2px;
    margin-bottom: 10px;
}

.Registro  .formsRegistro button{
    display: flex;
    height: 10%;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.Base{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20%;
    width: 70%;
}

.botaoToLogin{
    display: flex;
    height: 30%;
    width: 60%;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
}


.MsgErro{
    display: flex;
    height: 10%;
    color: red;
}