.Status{
    display: flex;
    width: 90%;
    height: 30%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.barras{
    display: flex;
    width: 40%;
    height: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.Icon{
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}