.categoriasLoja{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 80%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(164, 219, 219);
}

.categoriasLoja :hover{
    background-color: rgb(159, 188, 240);
    cursor: pointer;
}