.categoriasLoja{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 80%;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    background-color: rgb(164, 219, 219);
    transition: all 0.2s ease 
}

.categoriasLoja:hover{
    background-color: rgb(158, 173, 199);
    cursor: pointer;
}

.categoriasLoja:active{
    background-color: rgb(158, 173, 199);
    top: 5px;
}