.MenuItens{
    display:flex;
    width: 90%;
    height: 90%;
    align-items: center;
    justify-content: center;

}

.MenuItens .Itens{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px
}

.MenuItens .Item{
    width: 60px;
    height: auto;
    margin: 10px;
    padding: 10px;
}

.MenuItens .Item:hover{
    cursor: pointer;
}

.MenuItens .Item:active{
    top: 2px
}