.principal{
    display: flex;
    width: 100%;
    height: 100%;
    background: rgb(243, 248, 243);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.menuTop{
    display: flex;
    width: 40%;
    height: 15%;
    background-color: rgb(139, 206, 218);
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}

.tela{
    display: flex;
    width: 40%;
    height: 40%;
    background-color: rgb(84, 174, 190);
    align-items: center;
    justify-content: center;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: black;
    border-style: solid;

}

.menuBottom{
    display: flex;
    width: 40%;
    height: 15%;
    background-color: rgb(139, 206, 218);
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}