.estrutura{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

.blurred{
    filter: blur(10px);
    pointer-events: none;
}

.botaoConfiguracoes{
    display: flex;
    justify-self: start;
}

.principal{
    display: flex;
    width: 70%;
    height: 80%;
    background: rgb(243, 248, 243, 0.5);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.menuTop{
    display: flex;
    width: 60%;
    height: 15%;
    background-color: rgb(139, 206, 218);
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}

.tela{
    display: flex;
    width: 60%;
    height: 60%;
    background-color: rgb(84, 174, 190);
    align-items: center;
    justify-content: center;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: black;
    border-style: solid;
    border-right-width: 3px;
    border-left-width: 3px;
    flex-direction: column;

}

.menuBottom{
    display: flex;
    width: 60%;
    height: 15%;
    background-color: rgb(139, 206, 218);
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}